h3{
    color: red;
    background-color: yellow;
}

h3.h3-den{
    color: black;
    background-color: white;
}

h3.h3-vang{
    color: yellow;
    background-color: white;
}

h2.h3-vang{
    color: red;
    background-color: white;
}

.tom-bro{
    color: tomato;
    background-color: brown;
}

#h1-vidu{
    color: red;
}

.mau-vang{
    color: yellow;
}

h2#vidu{
    color: green;
}

h5#vidu{
    color: red;
}